@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredericka+the+Great&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    background: url(677.jpg);
    background-size: 25%;
    background-repeat: repeat;
}
.wrapper {
    background-color: cornsilk;
    width: 100%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}
.main-header {
    background-color: #396657;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 24px;
    text-align: center;
}
.main-header h1 {
    font-family: "Fredericka The Great", serif;
    color: #f8feff;
    font-size: 32px;
    text-align: justify;
}
main {
    background-color: #fffcef;
    padding: 16px;
    text-align: center;
}
.container-main {
    background-color: #f5e6cf;
    padding: 16px;
    max-width: 700px;
    margin: auto;
    border-radius: 20px;
}
.container-main h1 {
    font-family: "Fredericka The Great", serif;
    color: #5b3434;
    font-size: 32px;
    padding-bottom: 10px;
}
.container-main p {
    font-family: "Acme", serif;
    color: #5b3434;
    font-size: 20px;
}
.nav-fitur {
    display: flex;
    flex-direction: column;
}
.nav-fitur a {
    font-family: "Acme", serif;
    color: #5b3434;
    background-color: #fffcef;
    margin-top: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 50%;
    align-self: center;
    border-radius: 16px;
}
.nav-fitur a:link {
    color: #e0c28e;
}
.nav-fitur a:hover {
    color: #fffcef;
    background-color: #396657;
    transform: scale(1.05);
    z-index: 1;
}
.section-image {
    background-image: url(../assets/persegi.png);
    width: 225px;
    height: 224px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}
.calculate-content {
    border: 1px solid;
    height: 300px;
}
section {
    margin-top: 16px;
    margin-bottom: 16px;
}
section h1 {
    font-family: "Fredericka The Great", serif;
    color: #5b3434;
    font-size: 32px;
    padding-bottom: 10px;
}
footer {
    text-align: center;
}