@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredericka+the+Great&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    background: url(677.jpg);
    background-size: 15%;
    background-repeat: repeat;
}
.wrapper {
    background-color: cornsilk;
    width: 100%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}
.main-header {
    background-color: #396657;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 24px;
    text-align: center;
}
.main-header h1 {
    font-family: "Fredericka The Great", serif;
    color: #f8feff;
    font-size: 24px;
    text-align: justify;
}
main {
    padding: 30px;
    text-align: center;
}
.container-main {
    background-color: #e7d5bb;
    padding: 16px;
    max-width: 700px;
    margin: auto;
    border-radius: 20px;
}
.welcome-text h1 {
    font-family: "Fredericka The Great", serif;
    color: #5b3434;
    font-size: 32px;
    padding-bottom: 10px;
}
.container-text {
    padding: 10px;
}
.container-text p {
    font-family: "Acme", serif;
    color: #5b3434;
    font-size: 20px;
}
.nav-fitur {
    display: flex;
    flex-direction: column;
}
.nav-fitur summary {
    font-family: "Acme", serif;
    color: #5b3434;
    background-color: #fffcef;
    margin: 15px auto 5px;
    padding: 16px 0;
    width: 50%;
    align-self: center;
    border-radius: 16px;
}
.nav-fitur summary:hover {
    color: #fffcef;
    background-color: #396657;
    transform: scale(1.05);
    z-index: 1;
}
#persegi {
    background-color: #e7d5bb;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 20px;
}
section {
    padding: 0 16px;
}
.section-image1 {
    background-image: url(../assets/persegi.png);
    width: 225px;
    height: 224px;
    margin: 0 0 20px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}
.section-image2 {
    background-image: url(../assets/persegi-panjang.jpg);
    width: 400px;
    height: 225px;
    margin: 0 0 20px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}
.calculate-content {
    border: 2px solid;
    border-radius: 20px;
    height: 300px;
}
section h1 {
    font-family: "Fredericka The Great", serif;
    color: #5b3434;
    font-size: 26px;
    padding-bottom: 10px;
}
footer {
    text-align: center;
    font-family: "Acme", serif;
    color: #3c406b;
    background-color: #85b9a8;
    padding: 10px;
    font-size: 16px;
}
footer a:link {
    color: #575685;
}
footer a:hover {
    color: #fff6ef;
}